*{
  font-family: arial, helvetica, sans-serif;
}

body {
  background-color: rgb(243, 136, 136);
  text-align: justify;
}

main {
  background-color: white;
  width: 560px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.43);
  margin: auto;
  padding: 10px;
}

h1 {
  font-size: 1.5em;
  color: rgb(243, 136, 136);
}

h2 {
  font-size: 1.1em;
  color: rgb(243, 136, 136);
}

a {
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color:rgb(243, 136, 136);
}

img.lado {
  float: right;
  padding: 10px;
  margin-top: -6px;
}

img.lado1 {
  float: left;
  margin-left: 7rem;
  margin-top: -50px;
  padding: 0px 0px 10px 20px;
}

img.lado2 {
  float: left;
  margin-left: 1.5rem;
  margin-top: -60px;
  padding: 0px 0px 10px 20px;
}
